{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit Credentials {% endblock %}</h1>
    <hr>
    <form method="post">
        {{ form.csrf_token }}

        <h5>{{ form.email.label(class='form-label') }}</h5>
        <p>{{ form.email(class='form-control', size=64, value=user.email) }}</p>
        
        <h5>{{ form.address.label(class='form-label') }}</h5>
        <p>{{ form.address(class='form-control', size=42, value=user.address) }}</p>

        <h5>{{ form.password.label(class='form-label') }}</h5>
        <p>{{ form.password(class='form-control', size=128) }}</p>

        <h5>{{ form.confirm_password.label(class='form-label') }}</h5>
        <p>{{ form.confirm_password(class='form-control', size=128) }}</p>

        <h5>{{ form.current_password.label(class='form-label') }}</h5>
        <p>{{ form.current_password(class='form-control', size=128) }}</p>

        <p><button type="submit" class="btn btn-primary">Update Info</button></p>
    </form>
{% endblock %}