# hidden folders
__*__/
.*/

# hidden files
.*

# exceptions
!.gitignore
!.ebignore

# (everything below this line was automatically added)

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
