{% from 'macros.html' import display_task %}
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} ✅ {% endblock %} {{ task.summary }}</h1>
    <hr>
    {{ display_task(task) }}
    <hr>
    <div class="row">
        <div class="col-md-auto">
            {% if not task.accepted_at %}
                {% if current_user.id == task.requested_by %}
                <div class="row">
                    <div class="col-md-auto">
                        <a href="{{ url_for('tasks.edit_task', task_id=task.id) }}" class="btn btn-primary">Edit Request</a>
                    </div>
                    <div class="col-md-auto">
                        <form method="POST" action="{{ url_for('tasks.delete_task', task_id=task.id) }}">
                            <button class="btn btn-danger" onclick="return confirm('Delete this task forever?')">
                                Delete Request
                            </button>
                        </form>
                    </div>
                </div>
                {% else %}
                    <form method="POST" action="{{ url_for('tasks.accept_task', task_id=task.id) }}">
                        <button class="btn btn-success" onclick="return confirm('Accept this task as an active work order?')">
                            Accept Request
                        </button>
                    </form>
                {% endif %}
            {% elif not task.completed_at %}
                {% if current_user.id == task.accepted_by %}
                    <div class="row">
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.complete_task', task_id=task.id) }}">
                                <button class="btn btn-success" onclick="return confirm('Send this order to the requester for approval?')">
                                    Complete Order
                                </button>
                            </form>
                        </div>
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.release_task', task_id=task.id) }}">
                                <button class="btn btn-warning" onclick="return confirm('Release this task back to the open requests pool?')">
                                    Release Task
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% elif not task.approved_at %}
                {% if current_user.id == task.requested_by %}
                    <div class="row">
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.approve_task', task_id=task.id) }}">
                                <button class="btn btn-primary" onclick="return confirm('Approve this work and send payout?')">
                                    Approve Work
                                </button>
                            </form>
                        </div>
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.reject_task', task_id=task.id) }}">
                                <button class="btn btn-danger" onclick="return confirm('Send this task back to the provider?')">
                                    Reject Order
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col text-end">
            <a href="{{ url_for('tasks.new_comment', task_id=task.id) }}" class="btn btn-primary">Leave a Comment</a>
        </div>
    </div>
    {% if task.comments|length > 0 %}
        <hr>
        <h3>Comments:</h3>
        {% for comment in task.comments %}
            <div class="card" style="margin: 8px 0px">
                <div class="card-header">
                    <p class="card-text">
                        <i>At {{ comment.created_at }} <a href="{{ url_for('users.get_user', user_id=comment.created_by)}}">{{ comment.user.username }}</a> said:</i>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text"> {{ comment.text }}</p>
                </div>
                {% if current_user.id == comment.user.id %}
                    <div class="card-footer">
                        <form method="post" action="{{ url_for('tasks.delete_comment', comment_id=comment.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Delete comment forever?')">Delete</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    <hr>
    <h4>New Comment:</h4>
    <div class="card" style="margin: 8px 0px">
        <form method="post" action="{{ url_for('tasks.new_comment', task_id=task.id) }}">
            {{ form.csrf_token }}
            <div class="card-body">
                <textarea class="form-control" id="text" name="text"></textarea>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">Add Comment</button>
            </div>
        </form>
    </div>
{% endblock %}