{% from 'macros.html' import display_task %}
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} ✅ {% endblock %} {{ task.summary }}</h1>
    <hr>
    {{ display_task(task) }}
    <hr>
    <div class="row">
        <div class="col-md-auto">
            {% if not task.accepted_at %}
                {% if current_user.id == task.requested_by %}
                <div class="row">
                    <div class="col-md-auto">
                        <a href="{{ url_for('tasks.edit_task', task_id=task.id) }}">
                            <button class="btn btn-primary">Edit Request</button></a>
                    </div>
                    <div class="col-md-auto">
                        <form method="POST" action="{{ url_for('tasks.delete_task', task_id=task.id) }}">
                            <button class="btn btn-danger">Delete Task</button></form>
                    </div>
                </div>
                {% else %}
                    <form method="POST" action="{{ url_for('tasks.accept_task', task_id=task.id) }}">
                        <button class="btn btn-success">Accept Request</button></form>
                {% endif %}
            {% elif not task.completed_at %}
                {% if current_user.id == task.accepted_by %}
                    <div class="row">
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.complete_task', task_id=task.id) }}">
                                <button class="btn btn-success">Complete Order</button></form>
                        </div>
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.release_task', task_id=task.id) }}">
                                <button class="btn btn-warning">Release Task</button></form>
                        </div>
                    </div>
                {% endif %}
            {% elif not task.approved_at %}
                {% if current_user.id == task.requested_by %}
                    <div class="row">
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.approve_task', task_id=task.id) }}">
                                <button class="btn btn-primary">Approve Work</button></form>
                        </div>
                        <div class="col-md-auto">
                            <form method="POST" action="{{ url_for('tasks.reject_task', task_id=task.id) }}">
                                <button class="btn btn-danger">Reject Order</button></form>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col text-end">
            <a href="{{ url_for('tasks.new_comment', task_id=task.id) }}">
                <button class="btn btn-primary">Leave a Comment</button></a>
        </div>
    </div>
    <hr>
    <h3>Comments:</h3>
    {% if task.comments|length > 0 %}
        {% for comment in task.comments %}
            <div class="card" style="margin: 8px 0px">
                <div class="card-header">
                    <p class="card-text">
                        <i>At {{ comment.created_at }} <a href="">{{ comment.user.username }}</a> said:</i>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text"> {{ comment.text }}</p>
                </div>
                {% if current_user.id == comment.user.id %}
                    <div class="container">
                        <div class="row row-cols-auto">
                            <div class="col">
                                <a href="" class="btn btn-warning btn-sm">Edit Comment</a>
                            </div>
                            <div class="col">
                                <form method="post" action="">
                                    <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Delete comment forever?')">Delete Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <p>Need to clarify something? <a href="">Click here</a> to leave a comment.</p>
    {% else %}
        <p>This task doesn't have any comments, but you can <a href="">click here</a> to create the first one.</p>
    {% endif %}
{% endblock %}