{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 📖 {% endblock %} What is qqueue?</h1>
    <hr>
    <h5>
        <i>qqueue</i> is a Flask application written in Python 3.10 and hosted on AWS by 
        <a href="https://github.com/whitgroves" target="_blank">whitgroves</a>.

        The version here is based on the <a href="https://github.com/whitgroves/qq2">qq2</a> repo.
    </h5>
    <br>
    <h5>
        If you or your company is looking to hire a fullstack developer, please contact me on 
        <a href="https://linkedin.com/in/whitgroves" target="_blank">LinkedIn</a> or at
        <a href="mailto:whitney.groves@gmail.com" target="_blank">whitney.groves@gmail.com</a>.
    </h5>
{% endblock %}