{% macro display_user(user) %}
    <div class="card" style="margin: 8px 0px">
        <div class="card-header">
            <h5 class="card-title">
                <a href="{{ url_for('users.get_user', user_id=user.id) }}">{{ user.username }}</a>
            </h5>
            <p>{{ user.headline }}</p>
        </div>
        <div class="card-body">
            <p>{{ user.bio }}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('tasks.requested_by', user_id=user.id)}}"><button type="submit" class="btn btn-primary">Open Requests</button></a>
                    <a href="{{ url_for('tasks.accepted_by', user_id=user.id)}}"><button type="submit" class="btn btn-primary">Completed Orders</button></a>
                </div>
                <div class="col text-end">
                    <p class="card-text"><b>Joined:</b> {{ user.created_at }}</p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro display_task(task) %}
    <div class="card" style="margin: 8px 0px">
        <div class="card-header">
            
            <div class="row">
                <div class="col text-start">
                    <h5><a href="{{ url_for('tasks.get_task', task_id=task.id) }}">{{ task.summary }}</a></h5>
                </div>
                <div class="col text-end">
                    Requested By: <a href="{{ url_for('users.get_user', user_id=task.requested_by) }}"> {{ task.requester }}</a>
                </div>
                   
            </div>
        </div>
        <div class="card-body">
            <p>{{ task.detail }}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col text-start">
                     <b>Due By:</b> {{ task.due_by }}
                </div>
                <div class="col text-end">
                    Reward: <b>{{ task.reward_amount }} {{ task.reward_currency }}</b>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}